* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 1628px;
    font-family: 'Montserrat'
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.nav-list li {
    margin: 19px 10px;
    list-style: none;
}
  
.nav-list a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-weight: 700;
}
  
.banner {
    background-image: url(../image/img.png);
    height: 789px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.content {
    max-width: 1145px;
    margin: 0 auto;
    text-align: center;
}
.title-text {
    margin-top: 48px;
    margin-bottom: 66px;
}
.title {
    text-transform: uppercase;
    letter-spacing: 3.3px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 38px;
    
    color: #373737;
}

.text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 28px;
    letter-spacing: 2.4px;

    color: #373737;
}

button {
    width: 191px;
    height: 51px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    letter-spacing: 2.4px;
}

.footer {
    text-align: right;
    padding-right: 105px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 2.4px;
    margin-top: 82px;
    color: #373737;
}
  